Mulesoft/AnypointStudioWorkspace/ex5.2_consume_soap_web_service/src/main/app/ex5.2_consume_soap_web_service.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8088" doc:name="HTTP Listener Configuration"/>
    <ws:consumer-config name="Web_Service_Consumer" service="ServiceService" port="ServicePort" serviceAddress="http://localhost:8000/TestWSTD" wsdlLocation="http://localhost:8000/TestWSTD?wsdl" doc:name="Web Service Consumer"/>
    <flow name="ex5.2_consume_soap_web_serviceFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/hello" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="requestName" value="#[message.inboundProperties.'http.query.params'.name]" doc:name="Set Requester Name"/>
        <dw:transform-message doc:name="Pass Name">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://ex1.ws.hsbc.com/
---
{
	ns0#sayHi: {
		arg0: flowVars.requestName as :string
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="Web_Service_Consumer" operation="sayHi" doc:name="Hello SOAP Request"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
</mule>
