Mulesoft/AnypointStudioWorkspace/ex5.1_consume_restful_web_service/src/main/app/ex5.1_consume_restful_web_service.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8088" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="9999" doc:name="HTTP Request Configuration"/>
    <flow name="ex5.1_consume_restful_web_serviceFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/hello" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="requestName" value="#[(message.inboundProperties.'http.query.params'.name == empty) ? 'You' : message.inboundProperties.'http.query.params'.name]" doc:name="Set Requester Name"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/helloworld/{name}" method="GET" doc:name="Hello REST Request">
            <http:request-builder>
                <http:uri-param paramName="name" value="#[flowVars.requestName]"/>
            </http:request-builder>
        </http:request>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
</mule>
